**/coverage
**/node_modules*
**/.nyc_output
**/*.log
**/build*
coverage
front.eval
back.eval
.vscode
*.env
.DS_Store
app/backend/.env.example
.gitignore
app/backend/.env.example
app/backend/.env.example
thunder-tests/*
app/backend/.env.example
app/backend/thunder-tests/*
app/backend/.env.example
