**/coverage
**/node_modules*
**/.nyc_output
**/*.log
**/build*
coverage
front.eval
back.eval
.vscode
*.env
.DS_Store
app/backend/.env.example
.gitignore
app/backend/.env.example
app/backend/.env.example
thunder-tests/thunderActivity.json
thunder-tests/thunderclient.json
thunder-tests/thunderCollection.json
thunder-tests/thunderEnvironment.json
app/backend/.env.example
